* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #8758ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .App {
    text-align: center;
  }
  .TodoWrapper {
    background: #1A1A40;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
  }
  .TodoForm {
    width: 100%;
  }
  .MuiInput-input:after{
  border-bottom-color: red ;
       
  }
  .todo-input {
    outline: none !important; 
    background: none !important;
    padding: 0.5rem 1rem !important;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    width: 25vw !important;
    color: #fff !important;
  }
  
  
  .todo-input::placeholder {
    color: #ffffff4d ;
  }
  
  .todo-btn {
    background: #8758ff !important;
    color: #fff !important;
    border: none !important;
    padding: 0.55rem !important;
    cursor: pointer !important;
    
  }
  
  .Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  .fa-trash {
    margin-left: 0.75rem;
  }
  
  .completed {
    color: #c5aeff;
    text-decoration: line-through;
  }